body{
    font-family: "Merriweather", serif;
    font-weight: 900;
    
}

.banner-new{
   text-align: center;
   width: 100%;
   height: 600px;
   background-image: url('../images/banner-image.png');
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0.9;
 
}  

.banner-title{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #FFFFFF;
   

}

.banner-title2{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: #FFFFFF;
    z-index: 3;
}

/* header styles end */

/* all-categories styles start*/

.categories{
    text-align: center;
    justify-content: center;
}

.categories-title{
    font-size: 88px;
    color: #FF0000;
}

.categories-title3{
    font-size: 48px;
    color: #070211;
    font-family: 500;
    margin-top: 0;
}

.categories-title2{
    font-size: 24px;
    color: #FF0000;

}

.all-categories-img{
    background-image: url('../images/new-year-photo.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-position: center;
}

/* midnight party style start */
.party{
    margin-top: 130px;
}

.party-container{
    text-align: left;
    width: 100%;
    height: 600px;
    background-image: url('../images/party.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  
}


.party-title{
    position: absolute;
    left: 400px;
    top: 100px;
    font-size: 64px;
    color: #FFFFFF;
}

.party-title2{
    position: absolute;
    left: 400px;
    top: 280px;
    font-size: ;
    color: #FFFFFF;
    max-width: 40%;
}

.btn-primary{
    position: absolute;
    left: 400px;
    top: 350px;
    font-size: 30px;
    color: black;
    padding: 10px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

/* place date styles start */

.place{
    background-color: #eeeee4;
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    position: relative;
    max-width: ;
}

.place-date{
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate;
    font-size: 20px;
    color: #070211;
    
}

.
{
    color: #FF0000;
}

.btn-place{
    background-color: #FF0000;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}


/* 3 column styles start */
.column-section {
    margin-top: 200px;
}

.column-section{
    margin: 0 auto;
}

.column-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1320px;
    height: 463px;
    
}

.left-column{
    margin-left: 70px;
    max-width: 393px;

}

.left-column-title{
    color: red;
}

.left-column-header{
    font-size: 48px;
}

.left-column-description{
    font-size: 15px;
    color: #757575;
}

.middle-column{

   margin-left: 50px;
}

.profile-pic{
    border: 15px solid red;
    border-radius: 200px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-circle{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid white;
}

.pic-circle img{
    width: 100%;
    height: 100%;
}

.right-column{
   
    margin-left: 150px;
}


.right-column-title{
    color:red;
    font-size: 48px;
}

.right-column-description{
    color: #757575;
}


/* holiday section style start */



.holiday-section{
    text-align: center;
    margin:  0px 200px;
}

.holiday-title{
    font-size: 24px;
    color: #070211;
    font-weight: 400;
    
}

.holiday-title2{
    font-size: 72px;
    color: #070211;
    margin-top: 0px;
}

.holiday-description{
    font-size: 20px;
    color: #757575;
   
    margin-top: 0px;
}


/* image section start */

.grid-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px;
}

.img1{
    position: relative;
    width: 100%;
    
    
    
}

.img2{
    position: absolute;
    left: 64.8%;
    top: 0%;
  

}

.img3{
    position: absolute;
    top: 64.8%;
    z-index: -1;

}

.img4{
    position: absolute;
    left: 54%;
    top: 11%;
    z-index: 1;
    width: 100px;
    height: 100px;
}


/* image gallery styles start */

.image-container{
    margin: 0px 200px;
    float: left;
}

.image-container img{
    
    float: left;
    padding: 10px;
}

.image-container h3{
    color: #FF0000;
}

.image-container h1{
    font-size: 48px;
    color: #070211;
}

.image-container p{
    max-width: 900px;
    font-size: 15px;
    color: #757575;

}

.image-container h1, h3, p{
    margin-left: 10px;
}